@media (max-width:1400px) {
    .table-cell {
        font-size: 1.7rem;
    }
}

@media (max-width:1200px) {
    .aside {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        right: -24rem;

    }

    .main-wrapper {
        margin-right: auto;
    }

    .header {
        border-bottom-left-radius: 2.4rem;
        border-bottom-right-radius: 2.4rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 8%);
    }

    .aside-logo__title {
        display: none;
    }

    .search-box {
        margin: 2.5rem auto 4rem auto;
        width: 85%;
    }

    .profile {
        margin: 2rem auto;
    }

    .toggle-menu {
        display: flex;
    }

    .mobile-logo {
        display: block;
    }

    .table-container {
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
        max-height: 55rem;
        overflow-y: hidden;
    }

    .table-container::-webkit-scrollbar {
        width: 0;
    }

    .table-row {
        flex-direction: column;
        gap: 2.5rem;
        margin-left: 0;
    }

    .see-more {
        display: flex;
    }

    .see-more__btn--active {
        overflow-y: visible;
        max-height: fit-content;
    }
}

@media (max-width:1045px) {
    .dashboard-box {
        width: 100%;
    }
}

@media (max-width:992px) {}


@media (max-width:831px) {}

@media (max-width:768px) {}

@media (max-width:576px) {}

@media (max-width:488px) {
    .table-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .table-cell.buttons {
        flex-wrap: wrap;
    }

    .table-cell {
        text-align: center;
    }

    .btn__add-turn {
        width: 100%;
    }

}