/*
=================
   Base Styles
=================
*/

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Vazir Regular";
    font-size: 1.6rem;
    background-color: #F5F6FA;
}

a {
    text-decoration: none;
}